<main role="main" class="container">
  <div class="starter-template">
    <form action="/generate" method="POST">
      <input type="text" name="original_url" placeholder="URL">
      <input type="submit" value="Generate">
    </form>
    <p>{{ new_url }}</p>
  </div>
</main>
