<main role="main" class="container">
  <div class="starter-template">
    <p>La URL original fue: {{ url.original }}</p>
    <p>La URL generada es: {{ url.token }}</p>
    <p>Cantidad de veces que se ha redireccionado: {{ url.redirections }}</p>
  </div>
</main>